:root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);
  --text-color-third: rgb(30, 159, 171);
  ---text-color-second: rgb(68, 68, 68);
  --first-color: rgb(110, 87, 224);
  --first-color-hover: rgb(40, 91, 212);

  --second-color: rgb(0, 201, 255);
}
