* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn > i {
  margin-left: 10px;
}

.btn:hover {
  background: var(--second-color);
  color: var(--color-white);
}

i {
  font-size: 16px;
}

body {
  background: var(--body-color);
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  padding-inline: 9vw;
  transition: 0.3s;
  z-index: 100;
}

.nav-logo {
  position: relative;
}

.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color-third);
}

.nav-link {
  text-decoration: none;
  color: var(--text-color-second);
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}
